<ion-content>
  <form class="h-max login" [formGroup]="fg" (ngSubmit)="onSubmit(fg.value)">
    <img
      class="login__logo"
      src="../../../assets/images/comet-logo.png"
      alt="comet-logo"
    />
    <div class="w-max login__form">
      <ion-grid>
        <ion-row class="login__form__input-container">
          <ion-col size="12px">
            <ion-icon class="login__form__icon" name="mail-outline"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-input
              class="login__form__input"
              inputmode="email"
              type="email"
              placeholder="Email"
              formControlName="email"
              required
            ></ion-input>
          </ion-col>
        </ion-row>
        <div *ngIf="fg.controls.email.touched && !fg.controls.email.valid">
          Please enter a valid email
        </div>
      </ion-grid>
      <ion-grid>
        <ion-row class="login__form__input-container">
          <ion-col size="12px">
            <ion-icon
              class="login__form__icon"
              name="lock-closed-outline"
            ></ion-icon>
          </ion-col>
          <ion-col>
            <ion-input
              class="login__form__input"
              [type]="isPasswordShown ? 'text' : 'password'"
              placeholder="Password"
              formControlName="password"
              required
            ></ion-input>
          </ion-col>
          <ion-col size="12px" (click)="isPasswordShown = !isPasswordShown">
            <ion-icon
              [name]="isPasswordShown ? 'eye-off': 'eye'"
              class="login__form__icon--eye"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button
        class="login__form__cta"
        type="submit"
        color="dark"
        expand="block"
        size="large"
      >
        LOGIN
      </ion-button>
    </div>
    <ion-text class="login__bottom-text">
      Don't have an account?
      <a class="login__bottom-text--link" [routerLink]="['/register']"
        >Sign up here</a
      ></ion-text
    >
  </form>
</ion-content>
