$logo-color: #46cdcf;

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;

  &__logo {
    width: 240px;
    margin-top: 20%;
  }

  &__form {
    height: 100%;
    margin-top: 36px;

    &__input-container {
      border-bottom: 1px solid $logo-color;
      margin-top: 18px;
    }

    &__icon {
      font-size: 24px;
      margin-top: 8px;
      opacity: 0.5;
    }

    &__input {
      --padding-bottom: 16px;
    }

    &__cta {
      margin-top: 24px;
      font-size: 18px;
    }
  }

  &__bottom-text {
    margin: 36px 0;

    &--link {
      color: $logo-color;
      text-decoration: none;
    }
  }
}
