<ion-header class="home__header">
  <ion-toolbar>
    <ion-title>My diary</ion-title>
    <!-- TODO: Provide option to logout on clicking this button -->
    <ion-icon
      class="home__header__icon"
      slot="end"
      name="ellipsis-vertical"
      id="click-trigger"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-popover #optionsPopover trigger="click-trigger" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding" (click)="logout()"> Log Out</ion-content>
    </ng-template>
  </ion-popover>
  <div class="home__content">
    <ng-container *ngFor="let note of notes">
      <app-note-card
        [note]="note"
        (openNote)="openNote(note._id)"
      ></app-note-card>
    </ng-container>
  </div>

  <ion-fab class="home__fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
