.home {
  &__header {
    &__title {
      font-size: 24px;
      text-align: center;
      padding-left: 52px;
    }

    &__icon {
      font-size: 24px;
      padding: 8px 14px;
    }
  }

  &__content {
    padding: 8px;
  }

  &__fab {
    margin: 8px 16px 24px 8px;
  }
}
