<ion-header class="home__header ion-no-border">
  <ion-toolbar>
    <ion-title class="home__header__title">My diary</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- TODO: Provide option to logout on clicking this button -->
    <!-- <ion-icon
      class="home__header__icon"
      slot="end"
      name="ellipsis-vertical"
      id="click-trigger"
    ></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-popover #optionsPopover trigger="click-trigger" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding" (click)="logout()"> Log Out</ion-content>
    </ng-template>
  </ion-popover> -->

  <div [ngClass]="{'h-max': notes?.length === 0}" class="home__content">
    <ng-container *ngIf="!isLoading; else loader">
      <ng-container *ngIf="notes?.length > 0; else zeroState">
        <ng-container *ngFor="let note of notes">
          <app-note-card
            [note]="note"
            (openNote)="openNote(note)"
          ></app-note-card>
        </ng-container>
      </ng-container>

      <ng-template #zeroState>
        <div class="h-max content-center text-center">
          <div class="home__zero-state">
            <div class="home__zero-state__title">
              Looks like you don't have any saved notes
            </div>
            <div class="home__zero-state__subtitle">
              Click on
              <ion-icon
                size="medium"
                color="primary"
                class="home__zero-state__subtitle__icon"
                name="add-circle-sharp"
              ></ion-icon>
              to create a new note
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>

    <ng-template #loader>
      <ng-container *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8 ,9]">
        <app-note-card [isLoading]="true"></app-note-card>
      </ng-container>
    </ng-template>
  </div>

  <ion-fab class="home__fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
