<ion-header>
  <ion-toolbar>
    <ion-title>My diary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home__content">
    <ng-container *ngFor="let note of notes">
      <app-note-card
        [note]="note"
        (openNote)="openNote(note._id)"
      ></app-note-card>
    </ng-container>
  </div>

  <ion-fab class="home__fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
