<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-input type="file" (change)="uploadImage()"> </ion-input> -->
    <!-- <ion-icon
      slot="end"
      (click)="uploadImage()"
      class="note__header__icon"
      name="images-outline"
    ></ion-icon> -->
    <ion-icon
      *ngIf="mode !== 'ADD'"
      (click)="deleteNote()"
      slot="end"
      class="note__header__icon"
      name="trash-outline"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div>Normal input</div>
  <ion-input
    type="file"
    accept="image/*"
    (change)="uploadImage($event)"
  ></ion-input> -->
  <ng-container *ngIf="!isLoading; else loader">
    <form [formGroup]="noteForm" class="note__content">
      <app-date-input
        formControlName="dateOfEntry"
        class="note__date input-div"
        [isEditMode]="mode !== 'VIEW'"
      ></app-date-input>
      <ion-textarea
        autoGrow="true"
        class="note__title input-div"
        placeholder="Title"
        formControlName="title"
        [readonly]="mode === 'VIEW'"
      ></ion-textarea>
      <ion-textarea
        autoGrow="true"
        class="note__body input-div"
        placeholder="Write more here..."
        formControlName="content"
        [readonly]="mode === 'VIEW'"
      ></ion-textarea>
    </form>
  </ng-container>

  <ng-template #loader>
    <div class="note__content">
      <div>
        <ion-skeleton-text
          [animated]="true"
          style="height: 24px; width: 30%"
        ></ion-skeleton-text>
      </div>
      <ion-textarea
        ><ion-skeleton-text
          [animated]="true"
          style="height: 24px; width: 70%"
        ></ion-skeleton-text
      ></ion-textarea>
      <ion-textarea>
        <ng-container *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8]">
          <ion-skeleton-text
            [animated]="true"
            style="height: 14px"
          ></ion-skeleton-text>
        </ng-container>
      </ion-textarea>
    </div>
  </ng-template>

  <ion-fab
    *ngIf="!isLoading"
    class="note__fab"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button (click)="onFabClicked()">
      <ion-icon *ngIf="mode === 'VIEW'" name="pencil"></ion-icon>
      <ion-icon *ngIf="mode !== 'VIEW'" name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
