<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'bg-white': isEditMode}">
  <div class="note__content">
    <div class="note__date input-div" id="date"> 
      <span> 
        {{  note.createdAt | date: 'd' }}
      </span>
      <span  class="note__date--sm">
        {{  note.createdAt | date: 'MMM y' }}
      </span>
    </div>
    <ion-popover *ngIf="isEditMode" trigger="date" size="cover">
      <ng-template>
        <ion-datetime presentation="date" (ionChange)="dateSelected($event)" [max]="maxDate"></ion-datetime>
      </ng-template>
    </ion-popover>
    <div class="note__title input-div" [contentEditable]="isEditMode"> {{ note.title }} </div>
    <div #noteContent class="note__body input-div" [contentEditable]="isEditMode"> {{ note.content }} </div>
  </div>
  <ion-fab class="note__fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="switchMode()">
      <ion-icon *ngIf="!isEditMode && !isNewNote" name="pencil"></ion-icon>
      <ion-icon *ngIf="isEditMode || isNewNote" name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
