.note {
  &__content {
    padding: 24px 16px;
  }

  &__title {
    font-size: 20px;
    color: #404040;

    &:empty:before {
      content: "Title";
      color: gray;
    }
  }

  &__body {
    font-size: 16px;
    color: #737373;

    &:empty:before {
      content: "Write more here...";
      color: gray;
    }
  }

  &__fab {
    margin: 8px 16px 24px 8px;
  }
}
