.note {
  &__header {
    &__delete-icon {
      font-size: 24px;
      padding: 8px 14px 8px 4px;
    }

    &__image-icon {
      font-size: 26px;
      padding: 8px;
      margin-top: 2px;
    }
  }

  &__img {
    height: 60%;
    text-align: center;
    background: rgba(83, 138, 214, 0.2);

    &--loading {
      opacity: 0.5;
    }

    &__icon-container {
      padding-top: 40%;
      color: #46cdcf;

      &__icon {
        font-size: 80px;
      }
    }

    &__content {
      font-weight: 500;
      color: #737373;
    }

    &__img {
      max-height: 100%;
      max-width: 100%;
    }

    &__swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__nav-icon {
      font-size: 28px;
      position: absolute;
      top: 30%;
      z-index: 2;
      color: #404040;
    }

    &__nav-left {
      @extend .note__img__nav-icon;
      left: 0;
    }

    &__nav-right {
      @extend .note__img__nav-icon;
      right: 0;
    }
  }

  &__img-progress-bar {
    --background: rgba(83, 138, 214, 0.2);
    --progress-background: rgba(83, 138, 214, 0.5);
  }

  &__content {
    padding: 24px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: #404040;

    &:empty:before {
      content: "Title";
      color: gray;
    }
  }

  &__body {
    font-size: 18px;
    line-height: 1.5;
    color: #737373;

    &:empty:before {
      content: "Write more here...";
      color: gray;
    }
  }

  &__fab {
    margin: 8px 16px 24px 8px;
  }
}
