<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon
          class="image-preview__close-icon"
          name="close-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container>
    <swiper-slide *ngFor="let image of images"
      ><div class="image-preview__container">
        <img [src]="image.base64 || image.url" /></div
    ></swiper-slide>
  </swiper-container>
</ion-content>
