.image-preview {
  &__close-icon {
    font-size: 30px;
  }

  &__content {
    margin: 24px;
  }

  &__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__swiper-container {
    height: 100%;
    width: 100%;
  }

  &__swiper-slide {
    height: auto;
  }
}
